wmc rule owner="Airmail" name="Nouveau message" properties={float="true"}
kwmc rule owner="MySQLWorkbench" properties={float="true"}
kwmc rule owner="Instruments" properties={float="true"}
kwmc rule owner="iTerm2" properties={role="AXDialog"}
kwmc rule owner="Terminal" properties={role="AXDialog"}
kwmc rule owner="App Store" properties={float="true"}
kwmc rule owner="Finder" properties={float="true"}
kwmc rule owner="System Preferences" properties={float="true"}
kwmc rule owner="Telegram" properties={float="true"}
kwmc rule owner="BetterZip" properties={float="true"}
kwmc rule owner="Terminal" properties={float="true"}
kwmc rule owner="Gimp" properties={float="true"}

# PHPStorm rules
kwmc rule owner="PhpStorm" name="New File" properties={float="true"}
kwmc rule owner="PhpStorm" name="Rename" properties={float="true"}
kwmc rule owner="PhpStorm" name="Move" properties={float="true"}
kwmc rule owner="PhpStorm" name="Open Project" properties={float="true"}
kwmc rule owner="PhpStorm" name="Commit Changes" properties={float="true"}
kwmc rule owner="PhpStorm" name="Push commits" properties={float="true"}
kwmc rule owner="PhpStorm" name=".*Create New.*" properties={float="true"}
kwmc rule owner="PhpStorm" name=".*Add File.*" properties={float="true"}

# Chrome
kwmc rule owner="Google Chrome" name=".*Centile.*" properties={float="true"}
kwmc rule owner="Google Chrome" properties={space="1"}
kwmc rule owner="Google Chrome" name=".*Twitter.*" properties={float="true"}

# Firefox
kwmc rule owner="FirefoxDeveloperEdition" name=".*DownThemAll!.*" properties={float="true"}
