'atom-workspace':
  'alt-t': 'native!'
  'alt-d': 'native!'
  'alt-b': 'native!'

'atom-text-editor':
  'alt-d': 'native!'
  'alt-b': 'native!'

".platform-darwin atom-text-editor:not([mini])":
  'alt-d': 'unset!'
