@define-color background-color #11221C;
@define-color border-color #589A5F;
@define-color label #C0C396;
@define-color image #C0C396;
@define-color progress #C0C396;

window {
  border-radius: 0;
  opacity: 0.97;
  border: 2px solid @border-color;

  background-color: @background-color;
}

label {
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 11pt;

  color: @label;
}

image {
  color: @image;
}

progressbar {
  border-radius: 0;
}

progress {
  background-color: @progress;
}
